<li property="eli:has_part" resource="http://data.lblod.info/artikels/{{uuid}}" typeof="besluit:Artikel">
  <meta property="eli:language" resource="http://publications.europa.eu/resource/authority/language/NLD">
  {{yield}}
</li>
